Repository yuu-erp/storage-application-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: remove cli package
  packages/cli/eslint.config.mjs
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  pnpm-lock.yaml
  projects/apps/test/.gitignore
  projects/apps/test/README.md
  projects/apps/test/eslint.config.js
  projects/apps/test/index.html
  projects/apps/test/package.json
  projects/apps/test/public/vite.svg
  projects/apps/test/src/App.css
  projects/apps/test/src/App.tsx
  projects/apps/test/src/assets/react.svg
  projects/apps/test/src/index.css
  projects/apps/test/src/main.tsx
  projects/apps/test/src/vite-env.d.ts
  projects/apps/test/tsconfig.app.json
  projects/apps/test/tsconfig.json
  projects/apps/test/tsconfig.node.json
  projects/apps/test/vite.config.ts
Due: eslint --fix, prettier --write

chore: add .gitkeep
  projects/apps/.gitkeep
  projects/native/.gitkeep
  projects/web/.gitkeep
Due: none

fix: upcode
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  packages/eslint-config/package.json
  packages/typescript-config/node.json
  packages/typescript-config/vite.json
  pnpm-lock.yaml
  projects/web/.gitkeep
Due: prettier --write

fix: up code
  projects/web/.gitkeep
Due: none

fix: update husky pre-commit
  .husky/pre-commit
Due: none

chore: format commit
  packages/utils/src/__tests__/convertBase64ToFile.test.ts
  packages/utils/src/__tests__/convertFileToBase64.test.ts
  packages/utils/src/__tests__/debounce.test.ts
  packages/utils/src/__tests__/formatAddress.test.ts
  packages/utils/src/__tests__/getLastPathname.test.ts
  packages/utils/src/__tests__/handleMessageError.test.ts
  packages/utils/src/__tests__/hexToHsl.test.ts
  packages/utils/src/__tests__/hexToRgb.test.ts
  packages/utils/src/__tests__/hexToString.test.ts
  packages/utils/src/__tests__/hexToUtf8.test.ts
  packages/utils/src/__tests__/hslToHex.test.ts
  packages/utils/src/__tests__/isByte32.test.ts
  packages/utils/src/__tests__/isEmpty.test.ts
  packages/utils/src/__tests__/isHex.test.ts
  packages/utils/src/__tests__/isPrivateKey.test.ts
  packages/utils/src/__tests__/isValidAddress.test.ts
  packages/utils/src/__tests__/isValidName.test.ts
  packages/utils/src/__tests__/parseData.test.ts
  packages/utils/src/__tests__/removeAccents.test.ts
  packages/utils/src/__tests__/seedToString.test.ts
  packages/utils/src/__tests__/shortString.test.ts
  packages/utils/src/__tests__/strToSeed.test.ts
  packages/utils/src/__tests__/stringToBytes32.test.ts
  packages/utils/src/__tests__/truncateString.test.ts
  packages/utils/src/convert.ts
  packages/utils/src/formats.ts
  packages/utils/src/handle.ts
  packages/utils/src/index.ts
  packages/utils/src/validators.ts
Due: eslint --fix, prettier --write

chore: thêm .prettierrc cho dự án
  .prettierignore
  .prettierrc
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  packages/utils/src/convert.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update format
  packages/utils/src/__tests__/convertBase64ToFile.test.ts
  packages/utils/src/__tests__/convertFileToBase64.test.ts
  packages/utils/src/__tests__/debounce.test.ts
  packages/utils/src/__tests__/formatAddress.test.ts
  packages/utils/src/__tests__/getLastPathname.test.ts
  packages/utils/src/__tests__/handleMessageError.test.ts
  packages/utils/src/__tests__/hexToHsl.test.ts
  packages/utils/src/__tests__/hexToRgb.test.ts
  packages/utils/src/__tests__/hexToString.test.ts
  packages/utils/src/__tests__/hexToUtf8.test.ts
  packages/utils/src/__tests__/hslToHex.test.ts
  packages/utils/src/__tests__/isByte32.test.ts
  packages/utils/src/__tests__/isEmpty.test.ts
  packages/utils/src/__tests__/isHex.test.ts
  packages/utils/src/__tests__/isPrivateKey.test.ts
  packages/utils/src/__tests__/isValidAddress.test.ts
  packages/utils/src/__tests__/isValidName.test.ts
  packages/utils/src/__tests__/parseData.test.ts
  packages/utils/src/__tests__/removeAccents.test.ts
  packages/utils/src/__tests__/seedToString.test.ts
  packages/utils/src/__tests__/shortString.test.ts
  packages/utils/src/__tests__/strToSeed.test.ts
  packages/utils/src/__tests__/stringToBytes32.test.ts
  packages/utils/src/__tests__/truncateString.test.ts
  packages/utils/src/convert.ts
  packages/utils/src/formats.ts
  packages/utils/src/handle.ts
  packages/utils/src/index.ts
  packages/utils/src/validators.ts
Due: eslint --fix, prettier --write

chore: chỉnh sửa version cho các Dependencies cố định chỉ nhận bản vá
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: chỉnh sửa version cho các Dependencies cố định chỉ nhận bản vá
  packages/eslint-config/package.json
  packages/utils/package.json
Due: prettier --write

fix: cập nhập nextjs.json trong package typescript-config
  packages/typescript-config/nextjs.json
  pnpm-lock.yaml
  projects/web/.gitkeep
  projects/web/metanode-active-code/.gitignore
  projects/web/metanode-active-code/README.md
  projects/web/metanode-active-code/eslint.config.mjs
  projects/web/metanode-active-code/next.config.ts
  projects/web/metanode-active-code/package-lock.json
  projects/web/metanode-active-code/package.json
  projects/web/metanode-active-code/postcss.config.mjs
  projects/web/metanode-active-code/public/file.svg
  projects/web/metanode-active-code/public/globe.svg
  projects/web/metanode-active-code/public/next.svg
  projects/web/metanode-active-code/public/vercel.svg
  projects/web/metanode-active-code/public/window.svg
  projects/web/metanode-active-code/src/app/favicon.ico
  projects/web/metanode-active-code/src/app/globals.css
  projects/web/metanode-active-code/src/app/layout.tsx
  projects/web/metanode-active-code/src/app/page.tsx
  projects/web/metanode-active-code/tsconfig.json
Due: eslint --fix, prettier --write

fix: format code
  projects/web/metanode-active-code/next.config.ts
  projects/web/metanode-active-code/src/app/layout.tsx
  projects/web/metanode-active-code/src/app/page.tsx
Due: eslint --fix, prettier --write

feat: add package core
  packages/core/eslint.config.mjs
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/src/SystemCore.ts
  packages/core/src/__test__/EventEmitter.test.ts
  packages/core/src/__test__/ids.test.ts
  packages/core/src/__test__/splitDataIntoChunks.test.ts
  packages/core/src/dtos/send-response.dto.ts
  packages/core/src/dtos/send.dto.ts
  packages/core/src/index.ts
  packages/core/src/receiveData.ts
  packages/core/src/utils/EventEmitter.ts
  packages/core/src/utils/ids.ts
  packages/core/src/utils/index.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: code readme
  packages/core/README.md
  packages/utils/README.md
Due: prettier --write

fix: add some component mesa project
  projects/web/mesa/src/components/ui/form.tsx
  projects/web/mesa/src/components/ui/label.tsx
  projects/web/mesa/src/components/ui/select.tsx
  projects/web/mesa/src/components/ui/separator.tsx
  projects/web/mesa/src/components/ui/sonner.tsx
  projects/web/mesa/src/lib/utils.ts
Due: eslint --fix, prettier --write

fix: change import tailwind.config.ts
  packages/eslint-config/next.js
  projects/web/mesa/tailwind.config.ts
Due: eslint --fix, prettier --write

feat: merge code
  projects/web/mesa/eslint.config.mjs
  projects/web/mesa/tsconfig.json
Due: prettier --write

chore: remove metanode-active-code
  pnpm-lock.yaml
  projects/web/mesa/package.json
  projects/web/metanode-active-code/.gitignore
  projects/web/metanode-active-code/README.md
  projects/web/metanode-active-code/eslint.config.mjs
  projects/web/metanode-active-code/next.config.ts
  projects/web/metanode-active-code/package-lock.json
  projects/web/metanode-active-code/package.json
  projects/web/metanode-active-code/postcss.config.mjs
  projects/web/metanode-active-code/public/file.svg
  projects/web/metanode-active-code/public/globe.svg
  projects/web/metanode-active-code/public/next.svg
  projects/web/metanode-active-code/public/vercel.svg
  projects/web/metanode-active-code/public/window.svg
  projects/web/metanode-active-code/src/app/favicon.ico
  projects/web/metanode-active-code/src/app/globals.css
  projects/web/metanode-active-code/src/app/layout.tsx
  projects/web/metanode-active-code/src/app/page.tsx
  projects/web/metanode-active-code/tsconfig.json
Due: eslint --fix, prettier --write

chore: add classAttributes tailwindCSS
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

fix: tsconfig mesa
  projects/web/mesa/tsconfig.json
Due: prettier --write

chore: fix eslint file
  projects/web/web-active/eslint.config.mjs
Due: none

feat: fix button open web-active
  projects/web/web-active/src/app/page.tsx
  projects/web/web-active/src/components/home/home-carousel.tsx
Due: eslint --fix, prettier --write

fix: remove layout
  projects/web/mesa/.prettierrc.js
  projects/web/mesa/src/app/(dark-layout)/layout.tsx
  projects/web/mesa/src/app/(light-layout)/layout.tsx
  projects/web/mesa/src/app/career/page.tsx
  projects/web/mesa/src/app/case-study/page.tsx
  projects/web/mesa/src/app/contact-us/page.tsx
  projects/web/mesa/src/app/layout.tsx
  projects/web/mesa/src/app/our-solution/page.tsx
  projects/web/mesa/src/app/our-team/page.tsx
  projects/web/mesa/src/app/page.tsx
  projects/web/mesa/src/app/tech-assurance/page.tsx
  projects/web/mesa/src/components/layout/header.tsx
  projects/web/mesa/src/components/layout/logo.tsx
  projects/web/mesa/src/components/layout/mobile-menu.tsx
  projects/web/mesa/src/components/layout/navigation.tsx
  projects/web/web-active/next-env.d.ts
Due: eslint --fix, prettier --write

fix: dialog card background
  pnpm-lock.yaml
  projects/web/web-active/src/app/page.tsx
Due: eslint --fix, prettier --write

fix: update SystemCore
  packages/core/src/SystemCore.ts
  packages/core/src/type.ts
  packages/core/src/utils/EventEmitter.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
  projects/apps/messages/package.json
  projects/apps/messages/src/App.tsx
Due: eslint --fix, prettier --write

feat: message
  pnpm-lock.yaml
  projects/apps/messages/tsconfig.app.json
Due: prettier --write

chore: chỉnh sửa version của eslint
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  packages/eslint-config/react-vite.js
  pnpm-lock.yaml
  projects/apps/messages/.eslintrc.cjs
  projects/apps/messages/eslint.config.js
  projects/apps/messages/package.json
Due: eslint --fix, prettier --write

feat: update and fix system core
  packages/core/src/SystemCore.ts
  packages/core/src/utils/EventEmitter.ts
  packages/core/src/utils/Logger.ts
  pnpm-lock.yaml
  projects/apps/messages/src/App.tsx
Due: eslint --fix, prettier --write

chore: fix core
  packages/core/src/SystemCore.ts
Due: eslint --fix, prettier --write

chore: config docs and script
  docs/01-architecture.md
  docs/02-folder-structure.md
  docs/03-code-guidelines.md
  docs/04-git-workflow.md
  docs/05-testing-strategy.md
  docs/06-release-process.md
  docs/07-performance-checklist.md
  docs/08-commands-cheatsheet.md
  docs/09-onboarding.md
  docs/README.md
  packages/core/src/__test__/Logger.test.ts
  scripts/README.md
  scripts/bump-version.sh
  scripts/clean-cache.sh
  scripts/lint-all.sh
Due: eslint --fix, prettier --write
